In [1]:
trainKo = open("koTrain.txt", 'r')
trainKoText = trainKo.read()
trainKoDf = trainKoText.split('\n')
trainKo.close()

In [2]:
testKo = open("koTest.txt", 'r')
testKoText = testKo.read()
testKoDf = testKoText.split('\n')
testKo.close()

In [3]:
trainJe = open("jeTrain.txt", 'r')
trainJeText = trainJe.read()
trainJeDf = trainJeText.split('\n')
trainJe.close()

In [4]:
testJe = open("jeTest.txt", 'r')
testJeText = testJe.read()
testJeDf = testJeText.split('\n')
testJe.close()

In [5]:
#trainKoDf_ = []
#for sent in trainKoDf:
#    trainKoDf_.append("[CLS] "+ sent +" [SEP]")
#    
#testKoDf_ = []
#for sent in trainKoDf:
#    testKoDf_.append("[CLS] "+ sent +" [SEP]")
#    
#trainJeDf_ = []
#for sent in trainKoDf:
#    trainJeDf_.append("[CLS] "+ sent +" [SEP]")
#    
#testJeDf_ = []
#for sent in trainKoDf:
#    testJeDf_.append("[CLS] "+ sent +" [SEP]")

In [6]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [7]:
train = pd.DataFrame({"ko":trainKoDf,'je':trainJeDf})
test = pd.DataFrame({"ko":testKoDf,'je':testJeDf})

In [39]:
train, valid = train_test_split(train, test_size=0.1, random_state=1331)

In [8]:
train

,ko,je
0,판관했던 거 ?,판관헤난 거 ?
1,"우리 그냥 맨손에 맨손에 김도 매고 , 김도 베고 . 그렇게 했었어 , 옛날은 .","우리 그냥 맨손에 맨손에 검질도 메고 , 검질도 비고 . 경헤난 , 옛날은 ."
2,예 .,에 .
3,"응 , 그러니까 .","응 , 거니까 ."
4,운영해 오다가 .,운영헤 오다가 .
...,...,...
160351,"예 . 옛날에는 저기 무슨 마을계라고 해가지고 , 뭐 상여계도 있어나고 뭐 계 .","예 . 옛날에는 저기 무슨 마을접이엔 헤가지고 , 뭐 상여접도 잇어나곡 뭐 계 ."
160352,땀띠 ?,ᄄᆞᆷ떼기 ?
160353,"이 선흘에 . 우리 살았던 집 이제 다른 사람 살고 있지마는 , 우리 친정에 살았어 .","이 선흘에 . 우리 살아난 집 이제 ᄄᆞᆫ 사름 살암저마는 , 우리 친정에 살아난 ."
160354,귀신 위해서 옛날 어른들 주저리 짜서 거기 덮어서 이제야 때나 무슨 때랑 거기 가서...,구신 우러근에 옛날 어른덜 주지 창 그디 더꺼근에 이 제ᄉᆞ 때나 무시거 때랑 그디...
160355,그럼 고추장은 안 담가서 먹었습니까 ?,게민 고추장은 안 담강 먹엇수과 ?

In [9]:
valid

NameError: name 'valid' is not defined

In [16]:
test

,ko,je
0,그래도 그거 살살 떠서 먹지 . 그거 안 먹진 않아 . 어떻게 옛날 삶이야 삶이 었어,경헤도 거 ᄉᆞᆯᄉᆞᆯ 거려뒁 먹주 . 거 안 먹진 안허여 . 어떵 옛날 삶사 삶 이랏어
1,마찬가지 그렇게 쌀 넣어서 물 넣고 해서 삶아가면 익어서 죽 되는 거 .,마찬가지 겅 ᄊᆞᆯ 넣어근엥 물 넣곡 허영 ᄉᆞᆱ아가면 익어근엥 죽 뒈는 거
2,"그것보고 저 거시기 , 부엌 .","그것ᄀᆞ란 저 거세기 , 정지 ."
3,"예 , 동김치 그거 .","예 , 동김치 . 그거 ."
4,그렇게 해버리니까 많이 김매야겠군 요,겅 헤부난 많이 검질메야겠다예 .
...,...,...
4995,메밀가루 해서 타서 저 무엇에 .,모물ᄏᆞ루 헤근엥에 카근엥에 저 무시것에 .
4996,"사람이 밟아 , 소나 말로 밟아 ?","사름이 ᄇᆞᆯ라 , 쉐나 ᄆᆞᆯ로 ᄇᆞᆯ라 ?"
4997,"베어서 , 멍석하고 모두 , 옛날엔 멍석 가져서 밭에 가 . 도리깨질 해 . 메미짚...","비여근에 , 멍석이영 ᄆᆞᆫ , 옛날엔 멍석 ᄀᆞ졍 밧듸 가 . 도께질 ᄒᆞ여 . ..."
4998,그처럼 붙일 때는 호는 바늘,그추룩 부칠 때는 호는 바농 .
4999,메주는 이 동짓달만 나면 삶아서 됩니다,메준 이 동짓ᄃᆞᆯ만 낭 ᄉᆞᆱ앙 뒙니다 .

In [17]:
num_trian = 160000
num_test = 5000

In [20]:
train_ = train[:num_trian].reset_index()
train_.drop(columns="index", axis=1, inplace=True)

In [21]:
train_

,ko,je
0,판관했던 거 ?,판관헤난 거 ?
1,"우리 그냥 맨손에 맨손에 김도 매고 , 김도 베고 . 그렇게 했었어 , 옛날은 .","우리 그냥 맨손에 맨손에 검질도 메고 , 검질도 비고 . 경헤난 , 옛날은 ."
2,예 .,에 .
3,"응 , 그러니까 .","응 , 거니까 ."
4,운영해 오다가 .,운영헤 오다가 .
...,...,...
159995,밭에서 다 뜯어 ?,밧듸서 다 ᄐᆞᆮ아 ?
159996,위에 막 그물망들 했던데요 .,우이 막 그믈망들 해십디다 .
159997,하얀 수건하고 막 .,하얀 수건하고 막 .
159998,호미로 가서 베어 ?,호미로 강 비어 ?
159999,진버짐은 매우 뻘겋게 그냥 난 조금 똑각했다가 이만큼 커 . 진버짐은 막 큰다 . ...,ᄎᆞᆷ버짐은 막 벌겅케 그냥 난 ᄒᆞᄁᆞᆷ 똑각헷당 이만이 큰다 . ᄎᆞᆷ버짐은 군...

In [22]:
train_.to_csv("train_jit.csv", index=False,sep="\t")
test.iloc[:num_test].to_csv("test_jit.csv", index=False,sep="\t")